//COLORS
$color-primary:#189ad3;

$color-primary-dark-1:#107dac;
$color-primary-dark-2:#005073;

$color-primary-light-1:#1ebbd7;
$color-primary-light-2:#71c7ec;

$color-grey-dark:#777;
$color-grey-dark-1:#999;

$color-grey-light:#e2e2e2;

$color-white:#fff;
$color-black:#333;

$color-red:#c00000;

//GRID
$grid-width:114rem;
$gutter-vertical-tiny:1rem;
$gutter-vertical-smallest:3rem;
$gutter-vertical-small:5rem;
$gutter-vertical:8rem;
$gutter-horizontal:2rem;
$gutter-horizontal-small:1rem;

//FONT
$default-font-size:1.6rem;
$title-size:3rem;