.media_rp{

    width:100%;
    margin:3rem 0 5rem 0;  

    @include respond(tab-port){
        margin:3rem 0 2rem 0;
    }

    &__logo{
        img{
            width:8%;
            display:inline-block;
            margin: 0 4rem;

            @include respond(tab-land){
                width:13%;
                margin: 2rem 6rem;
            }

            @include respond(tab-port){
                width:15%;
                margin: 2rem 6rem;
            }

            @include respond(phone){
                width:20%;
                margin: 2rem 4rem;
            }
        }
    }
}